// Primary
$crimson: #841617 !default;
$primary: #9D1B1D !default;
$blue:    #189DEE !default;

// Secondary
$red:     #CC2324 !default;
$purple:  #4D67FF !default;
$green:   #3DCC60 !default;
$yellow:  #FFE12C !default;

// Base
$base:    #292A33 !default;
$white:   #ffffff !default;
$gray:    #525466 !default;
$gray-1:  #B9BFCC !default;
$gray-2:  #EBECF0 !default;
$gray-3:  #FAFBFF !default;

// Indicator
$attention: #FAE5E8 !default;
$warning:   #FEFCE8 !default;
$positive:  #E5F5EC !default;

// Background
$main-background: #D8D8D8 !default;
