@import "susy";

/* Changing Susy default global settings */
$susy: (
  columns: 12,
  gutter-position: inside-static,
  gutters: 20px/80px,
  column-width: 80px,
);

/* Makes border-box properties */
@include border-box-sizing;

.wrapper {
  @include container(1160px);
}

aside {
  @include span(3 of 12);
  padding-top: 1rem;
}

main {
  @include span(9 of 12);
  padding-top: 1rem;
}

.column-first {
  @include span(6 nest);

  &__inner {

    &--first, &--second {
      @include span(6 of 12);
    }

    &--third {
      @include span(12);
    }
  }
}

.column-second {
  @include span(6);
}

.dynamic-content__bursar--nested {
  @include span(6 of 12);

  .dynamic-content__bursar--nested-2 {
    @include span(12 of 12);

    .dynamic-content__bursar--payment {
      @include span(6 of 12);
    }

    .dynamic-content__bursar--balance {
      @include span(6 of 12);
    }
  }

  .dynamic-content__bursar--holds {
    @include span(12 of 12);
    margin-top: 20px;
  }
}

.dynamic-content__bursar--transactions {
  @include span(6 of 12);
}
