body {
  // background: $main-background;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
}

.main-content {
  // margin-top: 6.5rem;

  &.has-top-margin {
    margin-top: 6.5rem;
  }

  img {
    width: 100%;
  }
}

.dynamic-content {
  background: $gray-2;
  padding-top: 6.5rem;

  &__bursar {

    padding: 40px 0;

    &--header {
      padding: 18px 20px;

      &--text {
        font-size: 14px;
        letter-spacing: .8px;
        font-weight: 600;
        text-transform: uppercase;
        color: $blue;
      }
    }

    &--transactions {
      background: $white;
      height: 500px;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
      border-radius: 2px;
    }
  }

  .column-first {

    &__inner {

      &--first {

        &--content {
          background: $blue;
          box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
          border-radius: 2px;
          height: 230px;
        }
      }

      &--second {

        &--content {
          background: $white;
          box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
          border-radius: 2px;
          height: 230px;
        }
      }

      &--third {
        padding-top: 20px;

        &--content {
          background: $white;
          box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
          border-radius: 2px;
          height: 250px;
        }
      }
    }
  }

  .column-second {

    &__inner {
      background: $white;
      height: 500px;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
      border-radius: 2px;
    }
  }

  .column-inner {

    &__header {
      padding: 18px 20px;

      &--text {
        font-size: 14px;
        letter-spacing: .8px;
        margin: 0;
        font-weight: 600;
        text-transform: uppercase;
        color: $blue;
      }
    }
  }
}
